@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.header{
    width: 100%;
}
.conteiner{
    width: 100%;
    max-width: 1200px;
}
.top_1{
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
}
.top_1 > ul{
    display: flex;
    position: relative;
}
.top_1 ul li{
    display: inline-block;
    background-color: goldenrod;
}
.top_1 a{
    text-decoration: none;
    color: red;
    font-size: 20px;
    text-align: center;
    display: block;
    line-height: 60px;
    width: 175px;
}
.top_1 a:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.top_1 ul ul{
    display: none;
    position: absolute;
}
.top_1 ul li:hover > ul{
    display: block;

}
.top_1 ul ul li{
    display: block;
    position: relative;
}
.top_1 ul ul ul li{
    position: relative;
    left: 175px;
    top: -60px;
}
.top_2{
    width: 100%;
    height: 100%;
}
.top_2 h1{
    text-align: center;
    font-family: 'Fruktur', cursive;
}
.top_2 P{
    text-align: center;
    font-family: 'Fruktur', cursive;
}